<!DOCTYPE html>
<html>
    <head>
        <title>My Website</title>
        <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css' />
        <link rel='stylesheet' href='/@fortawesome/fontawesome-free/css/all.min.css' />
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    </head>
  <body>
    <div class="container py-3">
      <div class="row">
        <div class="col-lg-6">
          <div class="card mb-6 bg-dark">
            <div class="card-body text-center bg-dark text-white">
              <img src="/images/sample.JPG" alt="sample product"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h3 class="my-3"><%= itemName %></h3>
              <h5 class="my-3">Details</h5>
              <p class="text-muted mb-4"><%= description %></p>
              <h3 class="my-3">Contact Me</h3>
              <div class="row">
                <div class="col-md-3">
                  <p class="">Seller Name:</p>
                </div>
                <div class="col-md-9">
                  <p class="text-muted mb-0"><%= fullName %></p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Number:</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%= contactNumber %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card mb-4 bg-dark text-white">
            <div class="card-body">
              <h3 class="mb-6">Details</h3>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Item</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%= itemName %></p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Brand</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%= brand %></p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Category</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%= category %></p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Quantity</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%= quantity %></p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Price</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%= price %></p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Ad Date</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%= addDate %></p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Location</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%= location %></p>
                </div>
              </div>
              <hr>
              <button class="btn btn-dark p-2" type="button" data-bs-toggle="modal" data-bs-target="#editListing">
                <i class="fas fa-check"></i>
                <span class="px-1">Edit Listing</span>
              </button>
              <a href="/product/edit" class="btn btn-dark p-2">
                <i class="fas fa-undo"></i> 
                <span class="px-1">Delete</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="editListing" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Edit Listing</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <input type="hidden"
                  name="id"

              >
              <label for="itemField">Item</label>
              <input type="text" class="form-control"
                  id="itemField"
                  placeholder="Enter item name here"
                  name="itemName" 

                  required>
          </div>
          <br>
          <div class="form-group">
              <label for="brandField">Brand</label>
              <input type="text" class="form-control"
              id="brandField"
              placeholder="Enter brand here"
              name="brand" 

              >
          </div>
          <br>
          <div class="form-group">
              <label for="caregoryField">Category</label>
              <input type="text" class="form-control"
              id="caregoryField"
              placeholder="Enter Category type"
              name="category" 

              >
          </div>
          <br>
          <div class="form-group">
            <label for="quantityField">Category</label>
            <input type="number" class="form-control"
            id="quantityField"
            placeholder="number of units"
            name="quantity" 

            >
        </div>
        <br>
        <div class="form-group">
          <label for="priceField">Category</label>
          <input type="number" class="form-control"
          id="priceField"
          placeholder="input price"
          name="price" 

          >
      </div>
      <br>
      <div class="form-group">
        <label for="adField">Ad Date</label>
        <input type="text" class="form-control"
        id="adField"
        placeholder="input ad date"
        name="addDate" 

        >
    </div>
    <br>
    <div class="form-group">
      <label for="locationField">Location</label>
      <input type="text" class="form-control"
      id="locationField"
      placeholder="input new location"
      name="location" 

      >
  </div>
  <br>
      
          </div>
          <div class="modal-footer">
            <button type="button" class="bbtn btn-dark p-2" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-dark p-2">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>



 