
<%- include ('../partials/header') %>

    <!-- <%= ProductList %> -->

    <!-- Main Content -->
    <main class="container">
        <div class="row">

            <h1 id="textLarge"><%= title %></h1>
        <br>
            <div>
                <a href="/product/add" class="btn btn-primary align-self-end" role="button">
                    <i class="fas fa-plus-circle"></i>
                    Add Used Product
                </a>
            </div>
            <br/>
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                    <!-- Header Row-->
                    <tr>
                        <th class="text-center">Product Name</th>
                        <th class="text-center">Brand</th>
                        <th class="text-center">Quantity</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Email</th>
                        <th class="text-center" colspan="2">Actions</th>
                    </tr>

                    <!-- Repeatable Template Row -->

                    <% for(let count=0; count < ProductList.length; count++) { %>
                        <tr>
                            <td class="text-center">
                                <%= ProductList[count].name %>
                            </td>
                            <td class="text-center">
                                <%= ProductList[count].name %>
                            </td>
                            <td class="text-center">
                                <%= ProductList[count].number %>
                            </td>
                            <td class="text-center">
                                <%= ProductList[count].number %>
                            </td>
                            <td class="text-center">
                                <%= ProductList[count].email %>
                            </td>

                            <td class="text-center">
                                <a href="/product/edit/<%= ProductList[count]._id %>" class="btn btn-primary btn-sm">
                                <i class="fas fa-pencil-alt"></i></a>
                            </td>
                            <td class="text-center">
                                <a href="/product/delete/<%= ProductList[count]._id %>" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash-alt"></i></a>
                            </td>

                        </tr>
                        <% } %>
                </table>
            </div>
        </div>
    </main>

<%- include ('../partials/footer') %>
